{% extends 'base.html'%}
{% block content %}
<h2>Cash Assets</h2>
<p>hello {{nameID}}, this is the Cash Assets you have</p>
<button type="button" onclick="backHomepage()">Return Home</button>
<button type="button" onclick="Cash()">Return Cash</button></p>
<script>
function backHomepage() {
  location.replace("http://127.0.0.1:5000/homepage/{{nameID}}")
}
function Cash() {
  location.replace("http://127.0.0.1:5000/cash/{{nameID}}")
}
</script>
<form action="/cash/{{nameID}}/edit" method="POST">
  <input type="hidden" name="_method" value="PUT" />
  <p>{{form.edit_id.label}}<br>
  {{form.edit_id}}</p>
  <p>{{form.name.label}}<br>
  {{form.name}}</p>
  <p>{{form.value.label}}<br>
  {{form.value}}</p>
  <p>{{form.submit()}}</p>
</form>
<body>
  <hl> Assets </hl>
  {{table|safe}}
</body>
{% endblock %}